<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注册 - 墨韵图书会</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <section class="login">
    <div class="container">
      <div class="login-container">
        <h2 class="login-title">用户注册</h2>
        <form id="registerForm" class="login-form">
          <input type="text" id="username" class="login-input" placeholder="用户名" required>
          <input type="email" id="email" class="login-input" placeholder="邮箱" required>
          <input type="password" id="password0" class="login-input" placeholder="密码" required>
          <input type="password" id="password1" class="login-input" placeholder="密码确认" required>
          <button type="submit" class="login-button">注册</button>
        </form>
      </div>
    </div>
  </section>

  <script src="js/sign.js"></script>
</body>

</html>
